body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
  
  .container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 500px;
  width: 100%;
  margin: auto;
  
}
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: rgb(133, 85, 85);
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #0563b4 !important;
  }
  p {
    color: red;
  }
  
  .btn{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }

  .btn:hover{
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(33, 141, 350) 0%,
      rgb(43, 50, 130) 100%
    );
    transition: all 0.4s ease-out;
  }

  .form-inputs {
    margin-bottom: 0.5rem;
    width: 60%;
    
  }

  .form-label-heading{
    padding-top: 0px;
    padding-left: 60px;
  }

  .form-label-heading2{
    padding-left: 110px;
  }


  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }

.successfully{
  color: white;
}

